{% extends 'base.html' %}
{% block style %}
  <style>
    .errorlist {
      list-style-type: none;
      font-size: 0.8em;
      color: red;
    }

    .errorlist li {
      text-indent: -40px;
    }
  </style>
{% endblock style %}
{% block content %}
  <form method="post" action="{% url 'musician_list' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" id="first_name" class="form-control" value="{{musician.first_name}}" readonly="readonly">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name" class="form-control" value="{{musician.last_name}}" readonly="readonly">
    </div>
    <div class="form-group">
      <label for="instrument">Instrument</label>
      <input type="text" name="instrument" id="instrument" class="form-control" value="{{musician.instrument}}" readonly="readonly">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">리스트</button>
    </div>
  </form>
{% endblock content %}