{% extends 'base.html' %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <table class="table">
      <tr>
        <th>#</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>instrument</th>
        <th>함수형 뷰</th>
        <th>클래스 뷰</th>
      </tr>
      {% for musician in musician_list %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{musician.first_name}}</td>
          <td>{{musician.last_name}}</td>
          <td>{{musician.instrument}}</td>
          <td>
            <a href="{% url 'musician_detail' pk=musician.pk %}" class="btn btn-outline-info">보기</a>
            <a href="{% url 'musician_edit' pk=musician.pk %}" class="btn btn-outline-success">수정</a>
            <a href="{% url 'musician_remove' pk=musician.pk %}" class="btn btn-outline-danger">삭제</a>
          </td>
          <td>
            <a href="{% url 'musician_detail_cls' pk=musician.pk %}" class="btn btn-info">보기</a>
            <a href="" class="btn btn-success">수정</a>
            <a href="" class="btn btn-danger">삭제</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </form>
{% endblock content %}