{% extends 'base.html' %}
{% block content %}
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1>회원가입</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      {% include 'form_errors.html' %}
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" placeholder="{{field.label}}" name="{{field.name}}" value="{{field.value|default_if_none:''}}">
          </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">회원가입</button>
      </form>
    </div>
  </div>
{% endblock content %}
