{% extends 'base.html' %}
{% block title %}사진등록{% endblock title %}
{% block content %}<div class="row">
  <div class="col">
    <a href="{% url 'photo_list' %}" class="btn btn-info">돌아가기</a>
  </div>
</div>
<div class="row pt-4">
  <h2>New Photo</h2>
</div>

<!--사진 등록 폼 -->
<div class="row pt-4">
  <div class="col-8 mx-auto">
    <form method="post">
      <!-- post 방식의 폼은 반드시 {% csrf_token %}을 포함해야함-->

      {% csrf_token %}
      <!--title-->
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title">
        </div>
      </div>
      <!--author-->
      <div class="form-group row">
        <label for="author" class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="author" name="author">
        </div>
      </div>

      <!--image-->
      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image" name="image">
        </div>
      </div>

      <!--description-->
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea name="description" id="description" rows="10" class="form-control"></textarea>
        </div>
      </div>

      <!--price-->
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="price" name="price">
        </div>
      </div>

      <!--버튼-->
      <div class="form-group row">
        <button type="price" class="btn btn-success">사진등록</button>
      </div>

    </form>
  </div>
</div>{% endblock content %}


      
    

 